/* ListProducto.css */
.productos_list Table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
.productos_list th,
.productos_list td {
    border: 1px solid #ccc; 
    padding: 8px;
    text-align: left;
}

.productos_list th {
    background-color: #f0efef; 
    font-weight: bold;
}
.productos_list tr:hover {
    background-color: #e6f7ff;
}
.productos_list .card__botones {
    display: flex;
    gap: 8px; 
}
.productos_list #boton {
    cursor: pointer;
    color: #526CA5; 
    transition: color 0.3s ease;
}
.productos_list #boton:hover {
    color: #0056b3;
}

