/* ListProducto.css */
.productos_list table {
    width: 100%;
    border-collapse: collapse;
}

.productos_list th,
.productos_list td {
    border: 1px solid #ccc; /* Ajusta el color según prefieras */
    padding: 8px;
    text-align: left;
}

.productos_list th {
    background-color: #f4f4f4; /* Color de fondo para los encabezados */
    font-weight: bold;
}

.productos_list tr:nth-child(even) {
    background-color: #f9f9f9; /* Color alternado para filas pares */
}

.productos_list tr:hover {
    background-color: #e6f7ff; /* Color de fondo al pasar el ratón por encima */
}

.productos_list .card__botones {
    display: flex;
    gap: 8px; /* Espacio entre los botones */
}

.productos_list #boton {
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
}

.productos_list #boton:hover {
    color: #0056b3;
}
