.pageSucursal-container{
    display: flex;
    flex-direction: column;
}
.sucursal__header-contenedor{
    display: flex;
    height: 12vh;
    justify-content: space-between;
    margin: 0 40px;
}
.sucursal__boton{
    background-color: #F8F7F6;
    border: 1px solid #141C59;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    padding: 12px 32px;
}
.sucursal__contenedorCard{
    flex-grow: 1;
    width: calc(78vw - 40px);
    margin: 0 20px 12px 20px;
    box-sizing: border-box; 
    background-color: #DCE4FF;
    border-radius: 12px;
    border: 1px solid rgba(13, 16, 41, 0.5);
}
