.containerEmpresaPage{
    background-color: rgb(122, 175, 52);
}
/* cuando tenga la pagina definida esto no lleva nada, solo el pageEmpresa  */
.empresaList{
    background-color: rgb(80, 91, 189);
    width: 22%;
}