.pageEmpresaContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.empresaList {
    display: flex;
    flex-direction: column;
    background-color: #526CA5;
    width: 22vw;
}
.empresaList_title{
    color: white;
    text-align: center;
}

.pageSucursalContainer {
    display: flex;
    background-color: blueviolet;
    width: 78vw;
}
