.containerEmpresaPage{
    background-color: rgb(122, 175, 52);
}
/* cuando tenga la pagina definida esto no lleva nada, solo el pageEmpresa  */
.empresaList{
    background-color: #526CA5;
    width: 22%;
}